.card {
  margin: 20px;
  width: 18rem;
  background-color: gray;
  font-family: 'Orelega One', cursive;
  color: aliceblue;
  text-shadow: 1px 1px 3px black;
  border-radius: 1em;
  box-shadow: 2px 2px 5px black;
}

.card-title {
  margin-bottom: 15px;
  font-size: 1.5rem;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
  
}
.close-button{
  border-radius: 100%;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;

}
.card p{
  font-size: 1.2rem;
}
